
<footer class="mt0 bg-black-90 avenir">
  <div class="pv3 tc ttu i">
    <a href="/recipe/" title="Recipes" class="f3 dib ph2 link light-gray hover-light-blue">Recipes</a>
    <a href="/ingredient/"    title="Ingredients" class="f3 dib ph2 link light-gray hover-light-yellow">Ingredients</a>
    <a href="/technique/"  title="Techniques" class="f3 dib ph2 link light-gray hover-light-green">Techniques</a>
    <a href="/tool/" title="Tools" class="f3 dib ph2 link light-gray hover-light-red">Tools</a>
  </div>
</footer>


  </body>
</html>
