{{ partial "header.html" . }}

<header class="black-80 librebodoni">
  <!--  <h1 class="fw5 f1 f-headline-ns tc ttu i"><a class="link black-80 bg-animate hover-black-50" href="/">Cocktail Recipes</a></h1> -->
  <nav class="fw5 mw7 center avenir ttu i ">
    <ul class="list tl pa2 ma2 tc">
      <li><a class="f2 f1-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href="/recipe/">Recipes</a></li>
      <li><a class="f2 f1-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="/ingredient/">Ingredients</a></li>
      <li><a class="f2 f1-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="/technique/">Techniques</a></li>
      <li><a class="f2 f1-l link bg-animate black-80 hover-bg-light-red hover-white dib pa3 ph4-l" href="/tool/">Tools</a></li>
    </ul>
  </nav>
</header>


<footer class="mt0 bg-black-90 avenir">
<img src="/images/cocktail-black-and-white.png">
  <div class="pv3 tc ttu i bg-black-90 bottom-0">
    <a href="/recipe/" title="Recipes" class="f3 dib ph2 link light-gray hover-light-blue">Recipes</a>
    <a href="/ingredient/"    title="Ingredients" class="f3 dib ph2 link light-gray hover-light-yellow">Ingredients</a>
    <a href="/technique/"  title="Techniques" class="f3 dib ph2 link light-gray hover-light-green">Techniques</a>
    <a href="/tool/" title="Tools" class="f3 dib ph2 link light-gray hover-light-red">Tools</a>
  </div>
</footer>


  </body>
</html>
